        // 在InlineData里用new int?[]会报错，看起来只能接受常量表达式、typof表达式以及基本类型的数组
        public static IEnumerable<object[]> TestData()
        {
            yield return new object[] { new int?[] { },  };
        }

        [Theory]
        [MemberData(nameof(TestData))]
        public void Test(int?[] treearr, int expect)
        {
            var so = GetSo;
            var tree = TreeNode.Create(treearr);
            var result = so
            Assert.Equal(expect, result);
        }
